body{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    background-color: #d2d2f5;
}
header{
    width:100%;
    color: white;
    background-color: purple;
    text-align: center;
    padding-bottom: 4%;
    margin-bottom: 5px;
    font-size:30px;
}
#section_Main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border: 3px solid rgb(17, 17, 17);
}
#section_Field{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 212, 205);
    padding: 10px;
    padding-bottom: 7%;
}
#section_Fieldset{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(253, 235, 203);
    padding-top: 15px;
    padding-bottom: 3%;
}
fieldset{
    display: flex;
    color: rgb(109, 24, 24);
    background-color: rgb(253, 235, 203);
    width:95%;
    padding: 10px;
    min-height: 170px;
}
label{
    color: black;
    border: 1px dotted red;
}
#section_One,#section_Two,#section_Three,#section_Four{
    border: 1px dotted rgb(47, 255, 109);
    width:25%;
    min-height:150px;
}
.section_Form{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(216, 212, 205);
    border: 3px solid rgb(216, 212, 205);
    margin:5px;
    min-height: 30px;
}
input:not(#input_Status), select{
    width:50%;
}
p{
    background-color: rgb(134, 44, 44);
    color:white;
    padding:5px;
    padding-right:70px;
}
#section_Button1{
    display: flex;
    justify-content: space-around;
    width:60%;
}
button{
    color:white;
    background-color: rgb(32, 105, 173);
    width:180px;
    height:40px;
    font-size: 1em;
    font-weight:bold;
    margin-top:15px;
}

#section_Render{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 212, 172);
}
#section_Button2{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 20px;
}
#input_Query{
    height: 30px;
    margin-bottom: 10px;
}
#section_Table{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 95%;
    padding-bottom: 10%;
}
#input_Status{
    height: 30px;
}
table{
    table-layout: fixed;
    border-spacing: 3px;
    border: 1px dotted red;
    background-color: white;
}
th{
    height: 30px;
    color: white;
    background-color: darkgreen;
}
td{
    height: 30px;
    background-color: rgb(184, 184, 184);
    text-align: center;
    border: 1px solid darkgrey;
}
#button_Sort{
    margin-bottom: 20px;
}
footer{
    width: 100%;
    color: white;
    background-color: purple;
    text-align: center;
    padding-bottom: 4%;
    font-size:20px;
    margin-top: 5px;
}
